.color-box{
    height:160px;
    display:block;
    text-align: center;
    padding:20px,0px;
    opacity:.9;//透明度
    transition:all .3s;//动画效果过度时间：0.3s
    &:hover{
        text-decoration:none;
        color:#555;
        opacity:1;
        transform:scale(1.08)//大小变化
    }
    &:focus{
        text-decoration:none;
    }
    .count{
        font-size:50px;
        height:80px;
        line-height:80px;
    }
    .desc{
        font-size:18px;
        .fa{
            margin-right:5px;
        }
    }
    p{
        padding-top: 20px;
    }
}