.PoiList{
    width:72px;
    height:124px;
    position:fixed;
    top:60px;
    left:1296px;
    background-image: linear-gradient(-90deg, rgba(32,34,41,0.80) 0%, rgba(28,35,42,0.60) 100%);
    border: 1px solid rgba(255,255,255,0.10);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ant-checkbox-group{
    display:flex;
    flex-direction: column

}
.ant-checkbox-wrapper{
    display:flex;
    justify-content:center;
    align-content: center;
}
.body:global( .ant-checkbox){
    padding:6px 0px 6px 6px;
}

.fontSizePoi{
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #AFBCC4;
    letter-spacing: 0;
}